@import "../Common/variables";

.productPage{
    display: flex;
	flex: 1;
	justify-content: center;
	.cart{
		position: fixed;
		bottom: 0;
		height: 60px;
		display: flex;
		justify-content: flex-end;
		background: $color_orange;
		align-items: center;
	    border-top-left-radius: 12px;
		right: 0;
		p{
			font-size: 2em;
			padding: 0 20px;
			font-weight: bold;
			span{
				font-weight: normal;
				font-size: 0.5em;
			}
		}
    }
	.productsContainer{
	    display: flex;
	    width: 1130px;
		flex-direction: column;
	    .filters{
			height: 40px;
			margin: 20px 12px 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			.categoryField,
			.searchField{
				width: 262px;
				height: 100%;
				position: relative;
			}
			.categoryField{
				align-self: flex-start;
				form{
				    height: 100%;
				    select{
						width: 100%;
						height: 100%;
						background: $color_white;
						border-radius: 6px;
						font-size: 1em;
						border: 1px solid $color_gray;
				    }
				}
			}
			.searchField{
			    align-self: flex-end;
			    input,button{
			    	outline: none;
			    }
				input{
					width: 100%;
					height: 100%;
					border-radius: 6px;
				    padding: 0 40px 0 15px;
				    font-size: 1em;
					border: 1px solid $color_gray;
				}
				button{
					position: absolute;
				    padding: 7px 10px;
				  	right: 0;
				  	background: transparent;
				  	border: none;
				    .searchIcon{
					    font-size: 25px;
					    fill: $color_orange;
					}
				}
			}
	    }
	   	.errorMessage{
			font-size: 1.5em;
			margin-top: 20px;
			max-width: 60%;
		    align-self: center;
		    text-align: center;
		}
		.loadingProducts{
		    font-size: 50px;
		    position: absolute;
		    transform: translate(-50%,-50%);
		    top: 50%;
		    left: 50%;
		    .loadingIcon{
				fill: $color_orange;
				animation: spin 2s linear infinite;
			}
		}
		.productList{
		    flex-wrap: wrap;
		    margin: 10px 0 20px;
		   	display: flex;
			.product{
			    display: flex;
			    flex-direction: column;
			    background: $color_white;
			    border: 1px solid $color_gray;
			    max-width: 220px;
			    height: 300px;
				margin: 10px;
			    border-radius: 6px;
			    padding: 20px;
			    text-align: center;
			    &.productSelected{
			    	border: 1px solid $color_orange;
			    }
			    .top{
				    flex: 1;
				    display: flex;
				    flex-direction: column;
				    justify-content: space-between;
				    .productTitle{
				    	font-size: 1em;
				    	line-height: 1.4em;
				    }
				    img{
						height: 140px;
						align-self: center;
						margin-bottom: 20px;
				    }
				}
				.productValue{
					font-size: 1.5em;
					margin-bottom: 2px;
					span{
						font-size: 0.7em;
					}
			    }
				.productCounter{
					display: flex;
					justify-content: space-between;
					input,
					button{
						height: 40px;
						outline: none;
					}
					input{
						padding: 0 10px;
						max-width: 50%;
						text-align: center;
						margin: 0 10px;
						font-size: 1em;
						border-radius: 6px;
						border: 1px solid $color_gray;
					}
					button{
						border: none;
						border-radius: 50%;
						background: $color_orange;
						cursor: pointer;
						width: 40px;
						.buttonIcon{
							font-size: 13px;
							fill: $color_black;
						}
						&:hover{
							.buttonIcon{
								fill: $color_white;
							}
						}
					}
				}
			}
		}
	}
}
@keyframes spin {
	100% {
		transform:rotate(360deg);
	}
}

@media (max-width: 1160px) {
	.productPage{
		.productsContainer{
			width: 850px;
		}
	}
}

@media (max-width: 870px) {
	.productPage{
		.productsContainer{
			width: 567px;
		}
	}
}

@media (max-width: 600px) {
	.productPage{
		.productsContainer{
			width: 290px;
			.errorMessage{
				width: 100%;
			}
			.filters{
				flex-wrap: wrap;
			    height: 90px;
			    .categoryField,
			    .searchField{
			    	height: 40px;
			    }
			}
		}
	}
}